@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

::placeholder {
  color: #fff;
  font-family: "Mulish", sans-serif;
}

header {
  background: transparent;
  max-width: 100vw;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
header .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1500px;
  gap: 50px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  header .nav_bar {
    display: none;
  }
}
header .nav_bar .nav_menu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 20px;
}
@media (min-width: 1200px) {
  header .nav_bar .nav_menu .logo img {
    width: 190px;
  }
}
header .nav_bar .nav_menu .nav_link a {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  text-wrap: nowrap;
}
header .nav_bar .nav_menu .nav_link a:hover {
  border-bottom: 0.125rem solid #fff;
}
header .nav_bar .nav_menu .nav_link button {
  border: 1px solid #fff;
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}
header .nav_bar .nav_menu .nav_link button:hover {
  background-color: #fff;
  color: #007bff;
}
header .nav_bar .nav_menu .nav_link.active a {
  border-bottom: 0.125rem solid #fff;
}
header .nav_bar .nav_menu .nav_link .contact_button {
  background: #34afa9;
}
header .mob_nav {
  display: none;
  position: relative;
}
@media (max-width: 991px) {
  header .mob_nav {
    display: block;
  }
}
header .mob_nav .mob_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0px auto;
}
header .mob_nav .mob_header .logo {
  width: auto;
  height: 1.5rem;
  flex: none;
}
header .mob_nav .mob_header .logo img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
header .mob_nav .mob_header .hamburger {
  font-size: 20px;
  font-weight: 900;
  color: white;
}
header .mob_nav .mob_header .hamburger.active .line {
  transition: all 0.3s ease-in-out;
  stroke: #000 !important;
}
header .mob_nav .nav {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  top: 0;
  z-index: -1;
  height: 100vh;
}
header .mob_nav .nav .nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
header .mob_nav .nav .nav_menu .nav_link a {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}
header .mob_nav .nav .nav_menu .nav_link.active a {
  border-bottom: 0.125rem solid #fff;
}
header .mob_nav .nav .nav_menu .nav_link button {
  border: 1px solid #000;
  width: 140px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
}
header .mob_nav .nav .nav_menu .nav_link button:hover {
  background-color: #fff;
  color: #007bff;
}

.banner {
  background-image: url(assets/welcome.jpg);
  height: 110vh;
  position: relative;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .banner {
    height: 100%;
  }
}
@media (max-width: 576px) {
  .banner {
    margin-bottom: 40px;
  }
}
.banner .background_image {
  width: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner .background_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .banner_wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
@media (max-width: 576px) {
  .banner .banner_wrapper {
    padding: 20px;
  }
}
.banner .banner_wrapper .inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 125px;
  height: 100px;
}
@media (max-width: 991px) {
  .banner .banner_wrapper .inner_container {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .banner .banner_wrapper .inner_container {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}
.banner .banner_wrapper .inner_container .heading {
  font-weight: 400;
  font-size: 3rem;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .banner .banner_wrapper .inner_container .heading {
    font-size: 2.5rem;
  }
}
.banner .banner_wrapper .inner_container .text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
}
.banner .banner_wrapper .inner_container #lottie_animation {
  transform: translateY(-50px) scale(0.5);
}
@media (max-width: 1200px) {
  .banner .banner_wrapper .inner_container #lottie_animation {
    transform: scale(0.6);
  }
}
@media (max-width: 991px) {
  .banner .banner_wrapper .inner_container #lottie_animation {
    transform: scale(0.8);
  }
}
.banner .banner_wrapper .inner_container .left_column {
  margin-top: 66px;
}
@media (max-width: 991px) {
  .banner .banner_wrapper .inner_container .left_column {
    margin-top: 0;
  }
}
.banner .banner_wrapper .inner_container .left_column, .banner .banner_wrapper .inner_container .right_column {
  width: 50%;
}
@media (max-width: 767px) {
  .banner .banner_wrapper .inner_container .left_column, .banner .banner_wrapper .inner_container .right_column {
    width: 100%;
  }
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background-image: linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);
  z-index: -2;
}
.banner .overlay {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0px;
  right: 0px;
}
.banner .overlay img {
  width: 100%;
}
@media (max-width: 991px) {
  .banner .overlay img {
    position: absolute;
    z-index: 10;
    bottom: 0;
  }
}

footer {
  padding: 95px 40px;
  background: #007bff;
  margin-top: 40px;
}
@media (max-width: 576px) {
  footer {
    padding: 50px 20px;
    margin-top: 20px;
  }
}
footer .footer_wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
footer .footer_wrapper .inner_container {
  display: flex;
  width: 100%;
  gap: 40px;
}
@media (max-width: 991px) {
  footer .footer_wrapper .inner_container {
    flex-direction: column;
  }
}
footer .left_column {
  width: 40%;
}
@media (max-width: 991px) {
  footer .left_column {
    width: 100%;
  }
}
footer .left_column .heading {
  font-size: 2.3rem;
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  footer .left_column .heading {
    font-size: 1.7rem;
  }
}
footer .left_column .text {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-transform: capitalize;
}
footer .left_column .contact_detail {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 991px) {
  footer .left_column .contact_detail {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}
footer .left_column .contact_detail .phone_no, footer .left_column .contact_detail .address {
  margin-top: 20px;
}
footer .left_column .contact_detail .phone_no a, footer .left_column .contact_detail .phone_no h3, footer .left_column .contact_detail .address a, footer .left_column .contact_detail .address h3 {
  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  margin: 5px 0;
}
footer .left_column .contact_detail .email a, footer .left_column .contact_detail .email p, footer .left_column .contact_detail .address a, footer .left_column .contact_detail .address p {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  margin: 5px 0;
}
footer .right_column {
  width: 70%;
}
@media (max-width: 576px) {
  footer .right_column {
    width: 100%;
  }
}
footer .right_column form {
  /* Hide the input */
}
footer .right_column form .name input, footer .right_column form .contact input {
  height: 100%;
  border: 1px solid #fff;
  background-color: transparent;
  color: var(--white);
  border-radius: 8px;
  font-family: Mulish, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  margin: 10px 0;
  padding: 8px 12px;
  color: #fff;
}
footer .right_column form .field {
  flex-wrap: wrap;
}
@media (max-width: 420px) {
  footer .right_column form .field {
    flex-direction: row !important;
  }
}
footer .right_column form .field .option {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: 10px;
}
footer .right_column form .field .option label {
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #fff;
}
footer .right_column form .message textarea {
  width: 100%;
  background: transparent;
  color: white;
  padding: 5px 10px;
  font-family: "Mulish", sans-serif;
  border: 2px solid #fff;
}
footer .right_column form .upload-button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0;
  width: 130px;
}
footer .right_column form .upload-button i {
  margin-right: 5px;
}
footer .right_column form .upload-button:hover {
  opacity: 0.8;
}
footer .right_column form #file-upload {
  display: none;
}
footer .right_column form .submit_button {
  display: inline-block;
  position: relative;
  padding-right: 40px; /* Adjust as needed */
}
footer .right_column form .submit_button label {
  background-color: #007bff;
  color: white;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1rem;
  width: 130px;
  transition: all 0.3s ease-in-out;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .right_column form .submit_button label:hover {
  background-color: #fff;
  color: #000;
}
footer .right_column form .submit_button input[type=submit] {
  display: none;
}
footer .right_column form .submit_button .icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
}
footer .right_column form .submit_button:hover {
  opacity: 0.8;
}
footer .right_column form .row {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 420px) {
  footer .right_column form .row {
    flex-direction: column;
  }
}

.two_column_section {
  padding: 40px;
  height: 70vh;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .two_column_section {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
  }
}
@media (max-width: 576px) {
  .two_column_section {
    padding: 20px;
  }
}
.two_column_section .wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.two_column_section .wrapper .inner_container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .two_column_section .wrapper .inner_container {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.two_column_section .wrapper .inner_container .left_column {
  width: 50%;
}
@media (max-width: 991px) {
  .two_column_section .wrapper .inner_container .left_column {
    width: 100%;
  }
}
.two_column_section .wrapper .inner_container .left_column .heading {
  margin-bottom: 20px;
}
.two_column_section .wrapper .inner_container .left_column .heading h2 {
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  text-transform: capitalize;
}
.two_column_section .wrapper .inner_container .left_column .heading h2 span {
  color: #007bff;
}
.two_column_section .wrapper .inner_container .left_column .text p {
  width: 44vw;
  max-width: 34rem;
  color: #6F8BA4;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
}
@media (max-width: 991px) {
  .two_column_section .wrapper .inner_container .left_column .text p {
    width: 100%;
  }
}
.two_column_section .wrapper .inner_container .left_column .booking_button {
  margin-top: 20px;
}
.two_column_section .wrapper .inner_container .left_column .booking_button button {
  min-width: 12.375rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}
.two_column_section .wrapper .inner_container .left_column .booking_button button:hover {
  opacity: 0.8;
}
.two_column_section .wrapper .inner_container .right_column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two_column_section .wrapper .inner_container .right_column .lottie_animation {
  transform: translateY(-120px) scale(0.8);
}
@media (max-width: 991px) {
  .two_column_section .wrapper .inner_container .right_column .lottie_animation {
    transform: translateY(0px) !important;
  }
}

.image_text_section {
  padding: 40px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .image_text_section {
    padding: 20px;
  }
}
.image_text_section .wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.image_text_section .wrapper .inner_container .column_1 {
  width: 100%;
}
.image_text_section .wrapper .inner_container .column_1 img {
  width: 100%;
}
.image_text_section .wrapper .inner_container .column_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .image_text_section .wrapper .inner_container .column_2 {
    flex-direction: column;
  }
}
.image_text_section .wrapper .inner_container .column_2 .text {
  max-width: 30rem;
  color: #6F8BA4;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
}
@media (max-width: 767px) {
  .image_text_section .wrapper .inner_container .column_2 .text {
    width: 100%;
  }
}
.image_text_section .wrapper .inner_container .column_2 .btn {
  min-width: 12.375rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}
.image_text_section .wrapper .inner_container .column_2 .btn:hover {
  opacity: 0.8;
}

.feature_text_section {
  padding: 40px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .feature_text_section {
    padding: 20px;
  }
}
.feature_text_section .wrap_feature_text_section {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.feature_text_section .wrap_feature_text_section .inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature_text_section .wrap_feature_text_section .inner_container .text {
  text-align: center;
  margin-bottom: 20px;
  max-width: 490px;
  width: 100%;
}
.feature_text_section .wrap_feature_text_section .inner_container .text p {
  font-family: "Mulish", sans-serif;
  font-size: 2.5rem;
  color: #6F8BA4;
}
@media (max-width: 576px) {
  .feature_text_section .wrap_feature_text_section .inner_container .text p {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .feature_text_section .wrap_feature_text_section .inner_container .text p {
    font-size: 1.6rem;
  }
}
.feature_text_section .wrap_feature_text_section .inner_container .text p span {
  color: #007bff;
}

.hamburger svg {
  height: 80px;
  position: absolute;
  width: 80px;
}

.plates {
  display: flex;
  flex-wrap: wrap;
  max-height: 160px;
  width: 640px;
}

@media (max-width: 640px) {
  .plates {
    width: 320px;
  }
}
.plate {
  height: 80px;
  width: 80px;
}

.burger {
  filter: url(#gooeyness);
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

/* First plate */
.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}

.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

/* El segundo plato */
.plate2 .line1 {
  stroke-dasharray: 21 185.627532959;
  transition-delay: 0;
}

.plate2 .line2 {
  stroke-dasharray: 21 178.6514129639;
  transition-delay: 30ms;
}

.plate2 .line3 {
  stroke-dasharray: 21 197.9242553711;
  transition-delay: 60ms;
}

.plate2 .line4 {
  stroke-dasharray: 21 190.6597137451;
  transition-delay: 90ms;
}

.plate2 .line5 {
  stroke-dasharray: 21 208.5287475586;
  transition-delay: 120ms;
}

.plate2 .line6 {
  stroke-dasharray: 21 186.5970306396;
  transition-delay: 150ms;
}

.active.plate2 .line1 {
  stroke-dasharray: 5 185.627532959;
  stroke-dashoffset: -141px;
}

.active.plate2 .line2 {
  stroke-dasharray: 5 178.6514129639;
  stroke-dashoffset: -137px;
}

.active.plate2 .line3 {
  stroke-dasharray: 5 197.9242553711;
  stroke-dashoffset: -176px;
}

.active.plate2 .line4 {
  stroke-dasharray: 5 190.6597137451;
  stroke-dashoffset: -159px;
}

.active.plate2 .line5 {
  stroke-dasharray: 5 208.5287475586;
  stroke-dashoffset: -139px;
}

.active.plate2 .line6 {
  stroke-dasharray: 5 186.5970306396;
  stroke-dashoffset: -176px;
}

.active.plate2 .x {
  transition: transform 400ms 250ms;
}

/* O terceiro prato */
.plate3 .line {
  transition: stroke-dasharray 300ms 200ms, stroke-dashoffset 300ms 200ms, transform 300ms 200ms;
}

.plate3 .line1 {
  stroke-dasharray: 21 109;
}

.plate3 .line2 {
  stroke-dasharray: 21 112;
}

.plate3 .line3 {
  stroke-dasharray: 21 102;
}

.plate3 .line4 {
  stroke-dasharray: 21 103;
}

.plate3 .line5 {
  stroke-dasharray: 21 110;
}

.plate3 .line6 {
  stroke-dasharray: 21 115;
}

.plate3 .x {
  transition: transform 400ms 50ms;
}

.active.plate3 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate3 .line1 {
  stroke-dasharray: 5 109;
  stroke-dashoffset: -95px;
}

.active.plate3 .line2 {
  stroke-dasharray: 5 112;
  stroke-dashoffset: -96px;
}

.active.plate3 .line3 {
  stroke-dasharray: 5 102;
  stroke-dashoffset: -79px;
}

.active.plate3 .line4 {
  stroke-dasharray: 5 103;
  stroke-dashoffset: -78px;
}

.active.plate3 .line5 {
  stroke-dasharray: 5 110;
  stroke-dashoffset: -63px;
}

.active.plate3 .line6 {
  stroke-dasharray: 5 115;
  stroke-dashoffset: -64px;
}

.active.plate3 .x {
  transition: transform 400ms 100ms;
}

/* Die vierte teller */
.plate4 .x {
  transition: transform 400ms;
}

.plate4 .line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}

.active.plate4 .line {
  transition: transform 400ms;
}

.active.plate4 .line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}

.active.plate4 .line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}

.active.plate4 .line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}

.active.plate4 .line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}

.active.plate4 .line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}

.active.plate4 .line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}

.active.plate4 .x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}

/* Den femte rätten */
.plate5 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate5 .line1 {
  stroke-dasharray: 40 40;
}

.plate5 .line2 {
  stroke-dasharray: 21 39;
}

.plate5 .line3 {
  stroke-dasharray: 21 39;
}

.plate5 .line4 {
  stroke-dasharray: 40 40;
}

.plate5 .x {
  transition: transform 400ms 50ms;
}

.active.plate5 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate5 .line1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.active.plate5 .line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.active.plate5 .line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}

.active.plate5 .line4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}

.active.plate5 .x {
  transition: transform 400ms 50ms;
}

/* Шестая пластина */
.plate6 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate6 .line1 {
  stroke-dasharray: 21 127;
}

.plate6 .line2 {
  stroke-dasharray: 21 106;
}

.plate6 .line3 {
  stroke-dasharray: 21 106;
}

.plate6 .line4 {
  stroke-dasharray: 21 126;
}

.plate6 .x {
  transition: transform 400ms 50ms;
}

.active.plate6 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate6 .line1 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}

.active.plate6 .line2 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}

.active.plate6 .line3 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}

.active.plate6 .line4 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}

.active.plate6 .x {
  transition: transform 400ms 50ms;
}

/* 제 7 판 */
.plate7 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate7 .line1 {
  stroke-dasharray: 21 102;
}

.plate7 .line2 {
  stroke-dasharray: 21 92;
}

.plate7 .line3 {
  stroke-dasharray: 21 97;
}

.plate7 .line4 {
  stroke-dasharray: 21 97;
}

.plate7 .line5 {
  stroke-dasharray: 21 92;
}

.plate7 .line6 {
  stroke-dasharray: 21 102;
}

.plate7 .x {
  transition: transform 400ms 50ms;
}

.active.plate7 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate7 .line1 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -102px;
}

.active.plate7 .line2 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -92px;
}

.active.plate7 .line3 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}

.active.plate7 .line4 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}

.active.plate7 .line5 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -90px;
  transition-delay: 40ms;
}

.active.plate7 .line6 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -100px;
  transition-delay: 40ms;
}

.active.plate7 .x {
  transition: transform 400ms 50ms;
}

/* Όγδοο πιάτο */
.plate8 .line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}

.plate8 .line1 {
  stroke-dasharray: 21 201;
}

.plate8 .line2 {
  stroke-dasharray: 21 201;
  transition-delay: 20ms;
}

.plate8 .line3 {
  stroke-dasharray: 21 201;
  transition-delay: 40ms;
}

.plate8 .line4 {
  stroke-dasharray: 21 201;
  transition-delay: 60ms;
}

.plate8 .line5 {
  stroke-dasharray: 21 201;
  transition-delay: 80ms;
}

.plate8 .line6 {
  stroke-dasharray: 21 201;
  transition-delay: 100ms;
}

.plate8 .x {
  transition: transform 400ms 50ms;
}

.active.plate8 .line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}

.active.plate8 .line1 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
}

.active.plate8 .line2 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 20ms;
}

.active.plate8 .line3 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 40ms;
}

.active.plate8 .line4 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 60ms;
}

.active.plate8 .line5 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 80ms;
}

.active.plate8 .line6 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 100ms;
}

.active.plate8 .x {
  transition: transform 400ms 50ms;
}

.testimonial_section {
  padding: 40px;
}
@media (max-width: 576px) {
  .testimonial_section {
    padding: 20px;
  }
}
.testimonial_section .wrap_testimonial_section {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .star {
  max-width: 150px;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .star img {
  width: 100%;
  object-fit: cover;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .review {
  margin-bottom: 20px;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .review p {
  width: 100%;
  color: #6F8BA4;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
}
@media (max-width: 991px) {
  .testimonial_section .wrap_testimonial_section .inner_container .testemonial .review p {
    width: 100%;
  }
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .user_detail {
  display: flex;
  gap: 20px;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .user_detail .user_img img {
  width: 60px;
  border-radius: 50%;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial .user_detail .name h3 {
  color: #007bff;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.testimonial_section .wrap_testimonial_section .inner_container .testemonial img {
  width: 100%;
  object-fit: cover;
  max-width: 500px;
}

.testemonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-width: 550px;
  border-radius: 20px;
  border: 2px solid #6F8BA4;
}
@media (max-width: 1300px) {
  .testemonial {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .testemonial {
    max-width: 350px;
  }
}
@media (max-width: 800px) {
  .testemonial {
    max-width: 700px;
  }
}
.testemonial .star {
  max-width: 150px;
}
.testemonial .star img {
  width: 100%;
  object-fit: cover;
  height: 34px;
  transform: translateX(-15px);
}
.testemonial .review {
  margin-bottom: 20px;
}
.testemonial .review p {
  width: 100%;
  color: #6F8BA4;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
}
@media (max-width: 991px) {
  .testemonial .review p {
    width: 100%;
  }
}
.testemonial .user_detail {
  display: flex;
  gap: 20px;
}
.testemonial .user_detail .user_img img {
  width: 60px;
  border-radius: 50%;
}
.testemonial .user_detail .name h3 {
  color: #007bff;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: capitalize;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#process_section {
  padding: 40px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  #process_section {
    padding: 20px;
  }
}
#process_section .wrapper {
  max-width: 1250px;
  margin: 0 auto;
}
#process_section h3 {
  color: #00758f;
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
#process_section .tabs {
  text-align: center;
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d0dee1;
  border-top: 1px solid #d0dee1;
  padding: 1.5rem 8rem;
}
#process_section .tabs .tab-links {
  color: #00758f;
  cursor: pointer;
  font-size: 2.1rem;
  margin-right: 2rem;
}
#process_section .tabs .tab-links:hover {
  background-color: #00758f;
  color: #ffffff;
  transition: 0.8s ease all;
}
#process_section .tabs .tab-links:first-child {
  margin-right: 0;
}
#process_section .tabs .tab-links.active {
  background-color: #00758f;
  color: #ffffff;
  filter: blur(50px);
}
#process_section #process_tab,
#process_section #tab-manager {
  text-align: left;
  display: none;
}
#process_section #process_tab.active,
#process_section #tab-manager.active {
  display: block;
}
#process_section #process_tab .flex-row,
#process_section #tab-manager .flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  #process_section #process_tab .flex-row,
  #process_section #tab-manager .flex-row {
    flex-direction: column !important;
  }
}
#process_section #process_tab .flex-row .left-list,
#process_section #tab-manager .flex-row .left-list {
  width: 40%;
  display: inline-block;
  border-bottom: 3px solid #ebebeb;
}
@media (max-width: 991px) {
  #process_section #process_tab .flex-row .left-list,
  #process_section #tab-manager .flex-row .left-list {
    width: 100%;
    padding-bottom: 0px;
  }
}
#process_section #process_tab .flex-row .left-list ol li,
#process_section #tab-manager .flex-row .left-list ol li {
  margin-bottom: 2rem;
  padding-left: 3rem;
  list-style-type: none;
  color: #c7d9df;
  position: relative;
  cursor: pointer;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  #process_section #process_tab .flex-row .left-list ol li,
  #process_section #tab-manager .flex-row .left-list ol li {
    display: none;
    width: 100%;
  }
}
#process_section #process_tab .flex-row .left-list ol li .step_text,
#process_section #tab-manager .flex-row .left-list ol li .step_text {
  color: #00758f;
  font-family: Mulish, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
}
#process_section #process_tab .flex-row .left-list ol li p,
#process_section #tab-manager .flex-row .left-list ol li p {
  color: #00758f;
  font-weight: normal;
  padding-left: 2rem;
  font-size: 2rem;
  line-height: 4rem;
}
@media (max-width: 420px) {
  #process_section #process_tab .flex-row .left-list ol li p,
  #process_section #tab-manager .flex-row .left-list ol li p {
    font-size: 1.5rem;
    padding: 0;
  }
}
#process_section #process_tab .flex-row .left-list ol li p span,
#process_section #tab-manager .flex-row .left-list ol li p span {
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
}
#process_section #process_tab .flex-row .left-list ol li.activeSlide,
#process_section #tab-manager .flex-row .left-list ol li.activeSlide {
  color: #00758f;
  font-weight: bold;
  filter: blur(0px);
}
@media (max-width: 991px) {
  #process_section #process_tab .flex-row .left-list ol li.activeSlide,
  #process_section #tab-manager .flex-row .left-list ol li.activeSlide {
    display: block;
  }
}
#process_section #process_tab .flex-row .left-list ol li.activeSlide p,
#process_section #tab-manager .flex-row .left-list ol li.activeSlide p {
  color: #00758f;
  font-weight: bold;
}
#process_section #process_tab .flex-row .right-image,
#process_section #tab-manager .flex-row .right-image {
  width: 50%;
  float: right;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  #process_section #process_tab .flex-row .right-image,
  #process_section #tab-manager .flex-row .right-image {
    width: 100%;
  }
}
#process_section #process_tab .flex-row .right-image .overflow,
#process_section #tab-manager .flex-row .right-image .overflow {
  width: 51%;
  height: 78%;
  overflow: hidden;
  position: absolute;
  top: 9%;
  left: 25%;
}
#process_section #process_tab .flex-row .right-image .overflow ul,
#process_section #tab-manager .flex-row .right-image .overflow ul {
  height: 100%;
}
#process_section #process_tab .flex-row .right-image .overflow ul li,
#process_section #tab-manager .flex-row .right-image .overflow ul li {
  display: none;
  height: 100%;
  position: absolute;
}
#process_section #process_tab .flex-row .right-image .overflow ul li:first-child,
#process_section #tab-manager .flex-row .right-image .overflow ul li:first-child {
  display: block;
}
#process_section #process_tab .flex-row .right-image .overflow ul li img,
#process_section #tab-manager .flex-row .right-image .overflow ul li img {
  width: 100%;
}
#process_section #process_tab .flex-row .right-image .visi-hidden,
#process_section #tab-manager .flex-row .right-image .visi-hidden {
  width: 100%;
}
#process_section #process_tab .flex-row .right-image .arrow,
#process_section #tab-manager .flex-row .right-image .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 31px;
  height: 55px;
  transform: translateY(-50%);
}
#process_section #process_tab .flex-row .right-image .arrow.arrow-left,
#process_section #tab-manager .flex-row .right-image .arrow.arrow-left {
  left: 4%;
  background-image: url("https://i.postimg.cc/Y97sDr57/arrows-left.png");
  background-repeat: no-repeat;
  background-position: left top;
}
#process_section #process_tab .flex-row .right-image .arrow.arrow-right,
#process_section #tab-manager .flex-row .right-image .arrow.arrow-right {
  right: 4%;
  background-image: url("https://i.postimg.cc/qRGZPfr3/arrows-right.png");
  background-repeat: no-repeat;
  background-position: right top;
}
#process_section #process_tab .flex-row .right-image .arrow.fadeOut,
#process_section #tab-manager .flex-row .right-image .arrow.fadeOut {
  opacity: 0.4;
  cursor: auto;
}

.mobile_slider {
  padding: 40px;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  .mobile_slider {
    padding: 20px;
  }
}
.mobile_slider .wrap_mobile_slider {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.mobile_slider .wrap_mobile_slider .inner_container .mobile-screen-image {
  background-image: url(../../assets/uploads/app-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  height: 675px;
  left: calc(50% + 0.5px);
  position: absolute;
  top: 24px;
  transform: translateX(-54%);
  width: 410px;
  z-index: 2;
  border-radius: 60px;
}
.mobile_slider .wrap_mobile_slider .inner_container .swiper-wrapper {
  padding: 30px 0 40px;
}
.mobile_slider .wrap_mobile_slider .inner_container .swiper-slide .post-media img {
  border-radius: 30px;
  height: 657px;
}
.mobile_slider .wrap_mobile_slider .inner_container .swiper-slide.swiper-slide-active .post-media img {
  border-radius: 30px;
  width: 405px;
}
.mobile_slider .wrap_mobile_slider .inner_container .owl-screenshot .swiper-button-next, .mobile_slider .wrap_mobile_slider .inner_container .owl-screenshot.swiper-button-prev {
  background-image: none;
  font-size: 54;
  color: #333333;
}
.mobile_slider .wrap_mobile_slider .inner_container .owl-screenshot .swiper-button-next:hover, .mobile_slider .wrap_mobile_slider .inner_container .owl-screenshot.swiper-button-prev:hover {
  color: red;
}
.mobile_slider .wrap_mobile_slider .inner_container .swiper-contaier-horizontal > .swiper-pagination-bullets {
  bottom: -5px;
}

.about_banner {
  min-height: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .about_banner {
    height: 100%;
  }
}
.about_banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);
  z-index: -2;
}
.about_banner .background_image {
  width: 100%;
  position: absolute;
  z-index: -3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.about_banner .background_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about_banner .banner_wrapper {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}
@media (max-width: 576px) {
  .about_banner .banner_wrapper {
    padding: 20px;
  }
}
.about_banner .banner_wrapper .inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
  height: 100px;
}
@media (max-width: 991px) {
  .about_banner .banner_wrapper .inner_container {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .about_banner .banner_wrapper .inner_container {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}
.about_banner .banner_wrapper .inner_container .heading {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-family: "Mulish", sans-serif;
  font-size: 5.25rem;
  font-weight: 500;
  line-height: 6.6rem;
  margin-right: auto;
}
@media (max-width: 991px) {
  .about_banner .banner_wrapper .inner_container .heading {
    font-size: 3.9rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 576px) {
  .about_banner .banner_wrapper .inner_container .heading {
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  .about_banner .banner_wrapper .inner_container .heading {
    font-size: 2.5rem;
  }
}
.about_banner .banner_wrapper .inner_container .heading.left {
  margin-right: 0;
  margin-left: auto;
}
.about_banner .overlay {
  transform: translateY(10px);
}
.about_banner .overlay img {
  width: 100%;
}

.story_section {
  padding: 40px;
}
@media (max-width: 576px) {
  .story_section {
    padding: 20px;
  }
}
.story_section .wrap_story_section {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.story_section .wrap_story_section .inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .story_section .wrap_story_section .inner_container {
    flex-direction: column;
  }
}
.story_section .wrap_story_section .inner_container .left_column {
  width: calc(50% - 20px);
}
@media (max-width: 991px) {
  .story_section .wrap_story_section .inner_container .left_column {
    width: 100%;
    margin-bottom: 20px;
  }
}
.story_section .wrap_story_section .inner_container .left_column .heading h2 {
  max-width: 100%;
  color: #24CDFF;
  text-align: left;
  margin-bottom: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .story_section .wrap_story_section .inner_container .left_column .heading h2 {
    font-size: 2.5rem;
  }
}
.story_section .wrap_story_section .inner_container .left_column .dots {
  max-width: 26px;
  width: 100%;
  margin-bottom: 1.37rem;
}
.story_section .wrap_story_section .inner_container .left_column .dots img {
  width: 100%;
  object-fit: cover;
}
.story_section .wrap_story_section .inner_container .left_column .text p {
  width: 41.1875rem;
  max-width: 100%;
  color: #6F8BA4;
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.story_section .wrap_story_section .inner_container .left_column .text p:first-child {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .story_section .wrap_story_section .inner_container .left_column .text p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .story_section .wrap_story_section .inner_container .left_column .text p {
    font-size: 1rem;
  }
}
.story_section .wrap_story_section .inner_container .right_column {
  width: calc(50% - 20px);
  height: 31.5rem;
  max-width: 100%;
}
@media (max-width: 991px) {
  .story_section .wrap_story_section .inner_container .right_column {
    width: 100%;
  }
}
.story_section .wrap_story_section .inner_container .right_column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 100%;
  border-radius: 1.25rem;
  margin-bottom: 0;
}

.philosophy_section {
  padding: 40px;
}
@media (max-width: 576px) {
  .philosophy_section {
    padding: 20px;
  }
}
.philosophy_section .wrap_philosophy_section {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
.philosophy_section .wrap_philosophy_section .inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}
@media (max-width: 991px) {
  .philosophy_section .wrap_philosophy_section .inner_container {
    flex-direction: column;
  }
}
.philosophy_section .wrap_philosophy_section .inner_container .left_column {
  width: 50%;
}
@media (max-width: 991px) {
  .philosophy_section .wrap_philosophy_section .inner_container .left_column {
    width: 100%;
  }
}
.philosophy_section .wrap_philosophy_section .inner_container .left_column .heading h2 {
  max-width: 100%;
  color: #24CDFF;
  text-align: left;
  margin-bottom: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .philosophy_section .wrap_philosophy_section .inner_container .left_column .heading h2 {
    font-size: 2.5rem;
  }
}
.philosophy_section .wrap_philosophy_section .inner_container .left_column .dots {
  max-width: 26px;
  width: 100%;
  margin-bottom: 1.37rem;
}
.philosophy_section .wrap_philosophy_section .inner_container .left_column .dots img {
  width: 100%;
  object-fit: cover;
}
.philosophy_section .wrap_philosophy_section .inner_container .left_column .text p {
  width: 41.1875rem;
  max-width: 100%;
  color: #6F8BA4;
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media (max-width: 991px) {
  .philosophy_section .wrap_philosophy_section .inner_container .left_column .text p {
    width: 100%;
  }
}
.philosophy_section .wrap_philosophy_section .inner_container .right_column {
  width: 50%;
}
@media (max-width: 991px) {
  .philosophy_section .wrap_philosophy_section .inner_container .right_column {
    width: 100%;
  }
}
