
#process_section{
    padding: 40px;
    background-color: #fff;
    @media (max-width:576px) {
      padding: 20px;
    }
    .wrapper{
        max-width: 1250px;
        margin: 0 auto;
    }
  
    h3 {
      color: #00758f;
      font-size: 3.8rem;
      text-align: center;
      margin-bottom: 0.5rem;
    }
  
    .tabs {
      text-align: center;
      margin: 10rem 0;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #d0dee1;
      border-top: 1px solid #d0dee1;
      padding: 1.5rem 8rem;
  
      .tab-links {
        color: #00758f;
        cursor: pointer;
        font-size: 2.1rem;
        margin-right: 2rem;
  
        &:hover {
          background-color: #00758f;
          color: #ffffff;
          transition: 0.8s ease all;
        }
  
        &:first-child {
          margin-right: 0;
        }
  
        &.active {
          background-color: #00758f;
          color: #ffffff;
          filter: blur(50px);
        }
      }
    }
  
    #process_tab,
    #tab-manager {
      text-align: left;
      display: none;
  
      &.active {
        display: block;
      }
  
      .flex-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:991px) {
          flex-direction: column;
        }
  
        .left-list {
          width: 40%;
          display: inline-block;
          padding-bottom: 6rem;
          border-bottom: 3px solid #ebebeb;
          @media (max-width:991px) {
            width: 100%;
            padding-bottom: 0px;
          }

          
  
          ol li {
            margin-bottom: 2rem;
            padding-left: 3rem;
            list-style-type: none;
            color: #c7d9df;
            position: relative;
            cursor: pointer;
            filter: blur(5px);
            transition: all 0.3s ease-in-out;
            @media (max-width:991px) {
            display: none;
            width: 100%;
            
          }

            .step_text{
                // display: none;
                color: #fff;
                font-family: Mulish,sans-serif;
                font-size: $base-font-size;
                line-height: 1.75rem;
            }
  
            p {
              color: #c7d9df;
              font-weight: normal;
              padding-left: 2rem;
              font-size: 2rem;
              line-height: 4rem;
              @media (max-width:420px) {
                font-size: 1.5rem;
                padding: 0;
              }

  
              span {
                font-weight: bold;
                position: absolute;
                left: 0;
                right: 0;
              }
            }
  
            &.activeSlide {
              color: #00758f;
              font-weight: bold;
              filter: blur(0px);
      
                @media (max-width:991px) {
                  display: block;
                }
    
              
              
              p {
                color: #00758f;
                font-weight: bold;
              }
            }
          }
        }
  
        .right-image {
          width: 50%;
          float: right;
          position: relative;
          overflow: hidden;
          @media (max-width:991px) {
            width: 100%;
          }
  
          .overflow {
            width: 51%;
            height: 78%;
            overflow: hidden;
            position: absolute;
            top: 9%;
            left: 25%;
  
            ul {
              height: 100%;
            }
  
            ul li {
              display: none;
              height: 100%;
              position: absolute;
  
              &:first-child {
                display: block;
              }
  
              img {
                width: 100%;
              }
            }
          }
  
          .visi-hidden {
            width: 100%;
          }
  
          .arrow {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: 31px;
            height: 55px;
            transform: translateY(-50%);
  
            &.arrow-left {
              left: 4%;
              background-image: url("https://i.postimg.cc/Y97sDr57/arrows-left.png");
              background-repeat: no-repeat;
              background-position: left top;
            }
  
            &.arrow-right {
              right: 4%;
              background-image: url("https://i.postimg.cc/qRGZPfr3/arrows-right.png");
              background-repeat: no-repeat;
              background-position: right top;
            }
  
            &.fadeOut {
              opacity: 0.4;
              cursor: auto;
            }
          }
        }
      }
    }
  }
  